{% extends "base.html" %}
{% load common_filter %}
{% load set_var %}

{% block title %}ReadWeibo{% endblock%}

{% block extra_css %}
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/home.css"/>
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/google-now-card.css"/>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:500,400,300" rel="stylesheet" type="text/css">
{% endblock %}
		    
{% block main %}

<div class="span1" id="left-part">
    <ul class="nav nav-tabs nav-stacked" id="category-bar">
      <li><a href="/">全部</a></li>
      <li><a href="/category/2">机器学习</a></li>
      <li><a href="/category/3">IT技术</a></li>
      <li><a href="/category/4">IT资讯</a></li>
      <li><a href="/category/5">社会，国际新闻</a></li>
      <li><a href="/category/6">美剧电影</a></li>
      <li><a href="/category/7">心灵鸡汤</a></li>
      <li><a href="/category/8">搞笑段子</a></li>
      <li><a href="/category/1">其他</a></li>
    </ul>
</div>

<div class="span5" id="middle-part">
    {% for weibo in watch_weibo_left %}

    {% include "weibo-card.html" %}

    {% endfor %}
</div>

<div class="span5" id="right-part">

    {% for weibo in watch_weibo_right %}

    {% include "weibo-card.html" %}

    {% endfor %}
  

</div>

{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}
