<ul class="gNow" id="{{weibo.w_id}}">
    <li>
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn">状态更新</button>
          <button class="btn">新闻</button>
          <button class="btn">主题微博</button>
        </div>
        <div class="card">
            <p class="card-title">@{{weibo.owner.w_name}}</p>
            <p>{{weibo.text}}
            {% if weibo.retweeted_status.w_id|length > 0 %}
                // @{{weibo.retweeted_status.owner.w_name}}:{{weibo.retweeted_status.text}}
            {% endif %}
            </p>

            {% if weibo.bmiddle_pic %}
            <img src="{{weibo.bmiddle_pic}}" class="full" />
            {% endif %}
            {% if weibo.retweeted_status.bmiddle_pic %}
            <img src="{{weibo.retweeted_status.bmiddle_pic}}" class="full" />
            {% endif %}
        </div>
        
    </li>
 
</ul>


